main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 100vh;
  
}

/* Style the heading */
.status {
  font-size: 24px;
  margin-bottom: 20px;
}
.gameboard{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.squares{
  bottom: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #000;
  font-size: 32px;

}