.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screen {
  grid-column: span 4;
  min-height: 60px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

button {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #f1f1f1;
}
.ac-button {
  background: #f1f1f1;
}
.delete {
  background: #f1f1f1;
}